.searchBox {
    width: 100wv;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 251, 251, 0.567);
    /* position: fixed;
    top: 0%;
    left: 0; */
}

.searchBox>input[type='text'] {
    box-shadow: 0 0 5px rgba(88, 86, 86, 0.5);
    background-color: rgba(255, 255, 255);
    border: none;
    font: 600 1.1vmax cursive;
    color: rgba(0, 0, 0, 0.767);
    padding: 1vmax 2vmax;
    width: 50%;
    box-sizing: border-box;
    outline: none;
    height: 8%;
    border-radius: 0%;
}

.searchBox>input[type='submit'] {
    box-shadow: 0 0 5px rgba(88, 86, 86, 0.5);
    background-color: tomato;
    border: none;
    font: 500 1.3vmax "Roboto";
    color: rgba(0, 0, 0, 0.767);
    padding: 1vmax;
    cursor: pointer;
    color: white;
    width: 10%;
    height: 8%;
    border-radius: 0%;
    transition: all 1s;
}

.searchBox>input[type='submit']:hover {
    background-color: blue;
}